<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PriceChecker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Select Product</h1>
<form action="#" th:action="@{/productselector}" th:object="${product}" method="post">
    <select th:field="*{id}">
        <option th:each="pr: ${products.getFrontProducts()}" th:value="${pr.getId()}" th:text="${pr.getName()}"></option>
    </select>
    <p><input type="submit" value="Submit" /></p>
</form>

</body>
</html>